@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
.container-fluid {
    padding: 0 8% !important;
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: white !important;
}

.nav-buttons {
    button {
        position: relative;
        border-radius: 20px;
        min-width: 110px;
        border: none;
        padding: 6px 12px;
        font-size: 12px;
        font-weight: 600;
        color: white;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        &.login-btn {
            background: linear-gradient(to bottom, #1e3fa0, #4cafef);
        }
        &.registration-btn {
            background: linear-gradient(to bottom, #e16400, #ff9500);
        }
        &:hover {
            transform: scale(1.05);
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 8px;
            width: 85%;
            height: 25%;
            background: #ffffff66;
            background: linear-gradient(to bottom, #ffffff66, #ffffff0f);
            pointer-events: none;
            border-radius: 0 0 50px 50px;
        }
    }
}

.contact-info {
    font-size: 12px;
    font-weight: 600;
    color: orange;
    gap: 16px;
}